name: generate animation

on:
  # run automatically every 24 hours
  schedule:
    - cron: "0 */24 * * *"

  # allows to manually run the job at any time
  workflow_dispatch:

  # run on every push on the main branch
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # generates a GitHub graph to be converted into a movie https://github.com/Platane/snk
      - uses: Platane/snk@v3
        with:
          # github user name to read the contribution graph from (**required**)
          # using action context var `github.repository_owner` or specified user
          github_user_name: ${{ github.repository_owner }}

          # list of files to generate.
          # one file per line. Each output can be used as `
          outputs: |
            dist/github-snake.svg
            dist/github-snake-dark.svg?palette=github-dark

          # optional, the git branch to be used for github-user-name by default "main" or "master" will be used if the user exists in one of those branches. Leave empty if you want to use the default branch.

          # runs snk once and uploads all outputs, then exits
          # raw: true # optional
      - uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          # the output branch we mentioned above. default "gh-pages"
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
